/* Please give the h1 some padding on two sides and zero on others, margin on the sides with no padding, thin purple border on sides without margin, gold background but the gold must be the exact color from the hufflepuff crest */
h1 {
    padding: 20px 20px 0px 0px;
    margin: 0px 0px 40px 40px;
    border-top: 3px solid purple; 
    border-right: 3px solid purple; 
    background-color: goldenrod;
}
/* Please give the h2 significant padding on the left and right, a red border on the left and right but the red must be the same from the mighty morphin power rangers logo, and an orange background, and the roboto font */
h2 {
    padding: 0px 50px 0px 50px;
    border-left: 3px solid red;
    border-right: 3px solid red;
    background-color: orange;
    font-family: 'Roboto', sans-serif;
}
/* Please give the section a thick magenta border on the left, 100px of padding on the top and bottom, and 200px of margin on every side without padding or border */
section {
    border-left: 10px solid magenta;
    padding: 100px 0px 100px 0px;
    margin: 0px 200px 0px 200px;
}
/* Please make the spans have thin Dodger Blue borders, padding on the bottom and right, and light red background */
span {
    border: 3px solid blue;
    padding: 50px 0px 50px 0px;
    background-color: pink;
}