/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  width: 100%;
  padding-top: 8px;
}
header a {
  float: left;
  width: 10%;
  height: 40px;
  margin: 0 5%;
  list-style: none;
  text-decoration: none;
}
header form {
  float: left;
  width: 10%;
  height: 40px;
  margin: 0 5%;
  list-style: none;
  text-decoration: none;
}
.navlist {

  margin: 0%;
  padding-left: 0%;
  width: 20%;
  float: right;
}
.navlist li {
  height: 20px;
  list-style: none;
  text-decoration: none;
  margin: 0%;
  width: 33%;
  padding-right: 5%;
  float: left;
}

.logocenter {
  height: 40px;
  float: left;
}


.imglogo{
  height: 40px;
  padding-top: 0%;
  margin-right: 0%;
}
.logoword{

  width: auto;
  height: 40px;
  list-style: none;
  text-decoration: none;
  margin-top: 0%;
  margin-left: 0%;
  float: right;

}
h1 {
  font-size: 3rem;
}
main {
  clear: both;
}

main > section {
  float: left;
  height: 500px;
  width: 50%;

}

#mainimg {
  align-self: right;
  width: 50%;
}
#mainimg img {
  float: right;
}
.landingtext{
width: 35%;
align-self:center;

}
main> section h1, main section > img {
  margin-top: 100px;

}
p {
  font-family: Arial, Helvetica, sans-serif;
}
.landingtext > a {
  margin: 3%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 15%;
  padding-top: 1%;
  color: white;
  background-color: blue;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
