/* NO classes or IDs */

/* Please make only "Just kidding!" yellow */
h2 {
    color: yellow;
}

/* Please make only "twitter" red and 20px */
aside  p  a{
    color: red;
    font-size: 20px;
}
/* Please make "Really hot" purple & "Like WILD hot" larger and blue  */
article h2 {
    font-size: 20px;
    color: purple;

}
article  h2 + h2{
    font-size: 20px;
    color: blue;
}
/* Please make only bob and pizza green */
ul + ul a {
    color: green;
    

}